/* -- Page styling -- */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* -- Materialize styling for features -- */
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

main {
    flex: 1 0 auto;
  }


  /* -- Messages Styling -- */

  @keyframes showMessages{
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 55px;
    opacity: 1;
  }
}
  @keyframes hideMessages{
 from {
    top: 55px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}



#message {
    display:none;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 500;
    background-color: #E8C547;
    color: #fff;
  }

  #message.show{
      display: block;
      animation: showMessages 0.5s, hideMessages 0.5s 3.5s;
  }

  /* #message.hide{
      visibility: visible;
      animation: showMessages 0.5s, hideMessages 0.5s 3.5s;
  } */

  /* -- Nav -- */
  .nav-wrapper{
      background-color:#30323D  ;
  }

  .mynav{
      position:relative;
      z-index: 500;
  }

  a.brand-logo{
      margin-left:50px;
  }

/* -- Home Page -- */
.myslider{
    margin:0;
    padding:0;
    margin-top:50px;
}

.caption{
    margin-top:35px;
}

.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
}

/* -- Paragraphgs -- */
.para-text{
    margin:15px;
}

.bottom{
    margin-bottom:35px;
}

/* -- Browse page -- */

.browse_img{
    width: 1100px;
    height: 400px;
    object-fit: cover;
}

.browse-header{
   margin: 0;
    padding:0;
}




  /* -- Items -- */
  .item{
      width:150px;
      border:2px solid red;
      padding:2rem;

  }


  /* -- Register Page -- */
  .register-page{
      margin-left:auto;
      margin-right:auto;
  }



  /* -- Footer -- */
  .page-footer{
      bottom:0;
      background-color:#4D5061    ;
  }



/* -- Home page books carosel -- */
.books-car{
    margin-bottom:50px;
}
