/* -- Page styling -- */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* -- Materialize styling for features -- */
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

main {
    flex: 1 0 auto;
  }


  /* -- Messages Styling -- */

  @keyframes showMessages{
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 55px;
    opacity: 1;
  }
}
  @keyframes hideMessages{
 from {
    top: 55px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}



#message {
    display:none;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 500;
    background-color: #E8C547;
    color: #fff;
  }

  #message.show{
      display: block;
      animation: showMessages 0.5s, hideMessages 0.5s 3.5s;
  }

  /* #message.hide{
      visibility: visible;
      animation: showMessages 0.5s, hideMessages 0.5s 3.5s;
  } */

  /* -- Nav -- */
  .nav-wrapper{
      background-color:#30323D  ;
  }

  .mynav{
      position:relative;
      z-index: 500;
  }

  a.brand-logo{
      margin-left:50px;
  }

/* -- Home Page -- */
.myslider{
    margin:0;
    padding:0;
    margin-top:50px;
}

.caption{
    margin-top:35px;
}

.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
}

/* -- Paragraphgs -- */
.para-text{
    margin:15px;
}

.bottom{
    margin-bottom:35px;
}

/* -- Browse page -- */

.browse_img{
    width: 1100px;
    height: 400px;
    object-fit: cover;
}

.browse-header{
   margin: 0;
    padding:0;
}




/* -- Items -- */
.item{
    width:150px;
    border:2px solid red;
    padding:2rem;

}


/* -- Register Page -- */
.register-page{
    margin-left:auto;
    margin-right:auto;
}



/* -- Footer -- */
.page-footer{
    bottom:0;
    background-color:#4D5061!important    ;
}

ul.social{
    display:inline-flex;
}

li.li1{
    padding-right:8px;
}
li.li{
    padding-left:8px;
    padding-right:8px;
}
li.li4{
    padding-left:8px;
}

.fab.fa-linkedin, .fa-github, .fa-youtube, .fa-slack{
    font-size:35px;
    color:#fff;
    transition: transform .4s;
}

.fab.fa-github:hover{
    color:rgb(88, 158, 88);
    transform: scale(1.5);
}
.fab.fa-linkedin:hover{
    color:rgb(74, 134, 202);
    transform: scale(1.5);
}
.fab.fa-youtube:hover{
    color:rgb(197, 90, 90);
    transform: scale(1.5);
}
.fab.fa-slack:hover{
    color:rgb(183, 91, 179);
    transform: scale(1.5);
}

.foot-spc{
    padding-left:35px;
    padding-right:35px;
}

a.ft-nav{
    color:#fff!important;
}
a.ft-nav:hover{
    color:#E8C547!important;
}

@media(min-width:993px){
  .col.foot-spc{
      margin-left:43px!important;
  }
}

@media(max-width:600px){
  .col.foot-spc{
      margin-left:83px!important;
  }
  .nav, .soc {
      margin-top:55px;
  }
  .book{
      margin-left:15px;
  }
}
  .container.footer-spc{
      width:85%!important;
  }

  .footer-hr{
      color:#fff;
      margin-bottom:15px;
  }



/* -- Home page books carosel -- */
.books-car{
    margin-bottom:50px;
}

.card.small{
    width:200px!important;
}

.card-space{
    margin-top:15px;
}
.index-card{
    width:200px!important;
    height:auto;
    object-fit: cover;
}

.card-title{
    height:75px!important;
}

.aff-link{
    color:rgb(39, 59, 239);    
}

.image-size{
     /* width:236.85px!important;
    height:236.85px!important; */
    object-fit:cover; 
    
    overflow:hidden;
}


.title-top{
    font-size: 1.4rem;
}

.top{
    margin-top:15px;
}

.bg-top{
    margin-top:35px;
}

.top-club{
    margin-top:45px;
}

.sml-bottom{
    margin-bottom:15px;
}


/* -- Book Club Page -- */
.book_club{
    
}