
<div class="col s8 meetings">
    <h4 class="title">Upcoming Book club Meetings</h4>
    <hr>
    {% for meet in meetings_category %}
        {% for meeting in meetings %}

    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{meet.meeting_category}} -  {{meeting.meeting_date}} - {{meeting.meeting_time}}</div>
      <div class="collapsible-body"><span>Meeting Description: {{meeting.meeting_description}}
      </span>
      <p>Meeting Added By: {{meeting.meeting_added_by_username|capitalize}}</p>
      <p>Meeting add on: {{meeting.meeting_added_date}}</p>
      </div>
    </li>
    
  </ul>
        {% endfor %}
    {% endfor %}

  </div>
