
<div class="col s8 meetings">
    <h4 class="title">Upcoming Book club Meetings</h4>
    <hr>
    <br>
  
   <ul class="collapsible popout">
   {% for meet in meetings %}
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{meet.meeting_name}}</div>
      <div class="collapsible-body"><span>
      <p>{{meet.meeting_date}}</p>
      <p>{{meet.meeting_time}}</p>
      <p>{{meet.meeting_description}}</p>
      </span>
      </div>
      {% endfor %}
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

  </div>
