
<div class="col s8 meetings">
    <h4 class="title">Book Club Meetings</h4>
    <hr>
    <p class="top">Welcome{% if session.user %} {{ session['user']|capitalize }}{% endif %}, to the Book Club Meetings Page. Here you can find upcoming Book Club meetings, that users have created. These meetings are a great place to share your thoughts and opinions (I can already hear you) about your favourite books and hopefully others will join you in celebreating your favourite authors! Or get together and tear down a poorly written piece... It happens.. </p>
    <p class="top">How this works; so you can either find an upcoming book club meetin gthat you would like to take part in, these are held over whichever video conferencing call software is flavour of the month at the times specified. Click the date and time and meeting type to reveal further information and join the meeting.</p>
    <p class="top bottom">You can also create and edit your own Book Club meeting. Simply, sign up or be an existing member and the options will be there for you to add a Book club meeting. We do advise that you give people enough time to either re-read the book you wish to talk about or to plan time into their busy calenders. Either way you are in control of your own book Club meeting. The meetings below are due to take place in the coming weeks days and months.</p>

</div>  
        
<div class=" meetings top">
    <h4 class="title"> Meetings</h4>
        <hr class="sml-bottom">
        <p class="sml-bottom">You need to be logged in to add a new Book club meeting</p>
        <form action="/login">
        <button class="btn waves-effect waves-light" type="submit" >Login
        <i class="material-icons right">send</i>
        </button>
        </form>
    {% if session.user %}
    <div class="buttons">
        <p class="sml-bottom top">Click the button below to add your own meeting! </p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger sml-bottom" href="#modal1">Add a Meeting</a>
    </div>
</div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal s12">
            <div class="modal-content">
            <h4>Add a New Meeting</h4>
            
                <hr><br>  
                <!-- Give your meeting a name-->
                <div class="row">
                    <form class="col s12" action="/insert_meeting" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Placeholder" id="meeting_name"  name="meeting_name" type="text" class="validate">
                                <label for="meeting_name">Meeting Name</label>
                            </div>                    

                            <!-- Add a date from date picker -->
                         
                            <div class="input-field col s6">
                            <input type="text" class="datepicker" id="meeting_date" name="meeting_date" placeholder="Click to select date"> Add a date
                            </div>

                            <!-- Add a time from time picker -->
                            <div class="input-field col s6">
                            <input type="text" class="timepicker" id="meeting_time" name="meeting_time" placeholder="Click to select time"> Add a time 
                            </div>
                          
                            <!-- Add comments about your meeting -->
                            <div class="input-field col s12 top">
                                <input id="meeting_description" name="meeting_description" type="text" minlength="1" maxlength="500" placeholder="Provide Meeting Context" class="form-control" required>
                                <label for="meeting_description">
                                Meeting Description
                                <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="1-500 characters" aria-hidden="true"></i>
                                </label>
                            </div>
                        </div>
                        <!-- Submit your new meeting-->
                        <div class="col s6">
                            <button class="btn waves-effect waves-light add-meet-btn" type="submit" >Add Meeting
                            <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
                    
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
       </div>  
<hr><br>  
{% endif %}   
<div class="container bg-top bottom">

    {% for meeting in meetings %}

    <ul class="collapsible">
    <li>
      <div class="collapsible-header col-head"><i class="material-icons">assignment</i>{{meeting.meeting_name}} -  {{meeting.meeting_date}} - {{meeting.meeting_time}}</div>
      <div class="collapsible-body  col-col"><span>Meeting Description: {{meeting.meeting_description}}
      </span>
      <p>Meeting Added By: {{meeting.meeting_added_by_username|capitalize}}</p>
      <p>Meeting add on: {{meeting.meeting_added_date}}</p>
     
      {% if session.user %}
        <div class="meet-btn">
        <a class="waves-effect waves-light btn-small meetings-btn" href="{{ url_for('get_update_page', meeting_id=meeting._id)}}"><i class="material-icons right">cloud</i>Edit Meeting</a>

        <a class="waves-effect waves-light btn-small" href="{{ url_for('delete_meeting', meeting_id=meeting._id)}}"><i class="material-icons right">cloud</i>Delete Meeting</a>
        </div>
      {% endif %}
      </div>
    </li>
    
  </ul>
    {% endfor %}
   
</div>


