 
 <div class="col s12 m3 recipe-preview-card">
    <div class="card hoverable results-card z-depth-1">
        <a href="{{ url_for('get_listings') }}" >
            
            <div class="card-image">
               
            </div>
          
            <div class="card-title center-align">
                {{ listings.item_title | title }}
            </div>
        </a>
       
        </div>
    </div>

 
 
 
 
 
 
 
 
 
 
 
 
 {% for list in listings %}
  <div class="col s12">
    <div class="col s4 m6">
      <div class="card">
          <span class="card-title">Listing</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        <div class="card-content">
            <p>Type: {{list.item_type}}</p>
            <p>Rating: {{list.item_rating}}</p>
            <p>Author: {{list.item_author}}</p>
            <p>Genre: {{list.item_category}}</p>
            <p>Title: {{list.item_title}}</p> 
            <p>Added By: {{list.item_added_by_username | capitalize}}</p> 
            <p>Date added: {{list.item_added_date}}</p>
        </div>  
        <div class="card-action">
          <a href="#">This is a link</a>
      
        </div>
      </div>
    </div>
  </div>
            
    {% endfor %}