{% extends 'base.html' %}
{% block content %}


<div class="slides top-club">
     <img class="browse_img responsive-img " src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs-i.huffpost.com%2Fgen%2F2046406%2Fimages%2Fo-WRITING-PEN-AND-PAPER-facebook.jpg&f=1&nofb=1" alt="Add listing image" style="width:1280px;height:350px;" />
</div>


<h4 class="title">Add a New Listing</h4>
        <hr class="bottom">

<div class="meetings add top bottom  ">
    <h4 class="title-head"> Listing Form</h4>

<div class="row add-form  ">
    <form action="{{ url_for('insert_item') }}" method="POST" >

    <div class="input-field col s10">
        <input id="item_title" name="item_title" type="text" minlength="1" maxlength="30" placeholder="Title of publication" class="form-control validate" required>
            <label for="item_title">
            Title
                <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="1-30 characters" aria-hidden="true"></i>
            </label>
    </div>

    <div class="input-field col s10">
        <input id="item_author" name="item_author" type="text" minlength="1" maxlength="30" placeholder="Author of publication" class="form-control validate" required>
            <label for="item_author">
            Author
                <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="1-30 characters" aria-hidden="true"></i>
            </label>
    </div>

    <div class="input-field col s10">
            <select id="item_type" name="item_type" class="form-control validate" required>
                <option value="" disabled selected>Type of item</option>
                {% for item in items %}
                <option value="{{ item.item_type }}">{{ item.item_type }}</option>
                {% endfor %}
            </select>
            <label for="item_type">Item type</label>
    </div>

    <div class="input-field col s10">
            <select id="item_read_time" name="item_read_time" class="form-control validate" required>
                <option value="" disabled selected>Reading time</option>
                {% for read in reading %}
                <option value="{{ read.item_read_time }}">{{ read.item_read_time }}</option>
                {% endfor %}
            </select>
            <label for="read_time">Reading time</label>
    </div>

    <div class="input-field col s10">
            <select id="item_category" name="item_category" class="form-control validate" required>
                <option value="" disabled selected>Genre</option>
                {% for book in book_cat %}
                <option value="{{ book.item_category }}">{{ book.item_category }}</option>
                {% endfor %}
            </select>
            <label for="item_category">Item Category</label>
    </div>

    <div class="input-field col s10">
            <select id="item_rating" name="item_rating" class="form-control validate" required>
                <option value="" disabled selected>Rating</option>
                {% for rate in rating %}
                <option value="{{ rate.item_rating }}">{{ rate.item_rating }}</option>
                {% endfor %}
            </select>
            <label for="item_rating">Item Rating</label>
    </div>

    <div class="input-field col s10">
        <input id="item_comment" name="item_comment" type="text" minlength="1" maxlength="500" placeholder="Add your comments" class="form-control " required>
            <label for="item_comment">
            Comments
                <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="1-500 characters" aria-hidden="true"></i>
            </label>
    </div>

    <div class="input-field col s10">
        <input id="item_url" name="item_url" type="text"  placeholder="Add a link to the image" class="form-control " required>
            <label for="item_url">
            Link to image
                <i class="far fa-question-circle tooltipped" data-position="right" aria-hidden="true"></i>
            </label>
    </div>

    <div class="input-field col s10">
        <input id="item_purchase" name="purchase" type="text"  placeholder="Add a link to purchase the listing" class="form-control " required>
            <label for="item_purchase">
            Link to Purchase Listing
                <i class="far fa-question-circle tooltipped" data-position="right" aria-hidden="true"></i>
            </label>
    </div>


 
        <div class="col s10 top-club">
            <button class="btn waves-effect waves-light standard-btn icon-right btn-spc btn-color" type="submit" name="add-item" aria-label="Add new item">
                Add Listing
                <i class="fas fa-plus-circle" aria-hidden="true"></i>
            </button>
            <a class="btn waves-effect waves-light standard-btn icon-right btn-spc btn-red" href="{{ url_for('index') }}" aria-label="Cancel button">
                Cancel &nbsp;<i class="fa fa-times-circle"></i>
            </a>
        </div>
        </form>
    </div>
</div>



{% endblock %}