<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Link for custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>MS3</title>
</head>
<body>
    <header>
    <!-- Navigation -->
    {% include "sections/nav.html" %}
    <!-- End Navigation -->
    </header>

    <!-- Messages -->
    {% include "sections/messages.html" %}
    <!-- End Messages -->

    <!-- Main Content -->   
    <main class="container">
    {% block content %}

    {% endblock %}
    </main>
    <!-- End Main Content --> 

    <!-- Footer -->
    <footer>
    {% include "sections/footer.html" %}
    </footer>
    <!-- End footer -->



    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>