{% extends 'base.html' %}
{% block content %}
  <!-- Messages -->
    {% include "sections/messages.html" %}
    <!-- End Messages -->
<section class="browse-header">
     <img class="browse_img responsive-img" src="https://images.pexels.com/photos/3769697/pexels-photo-3769697.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="browse page image" style="width:1090px;height:350px;" />
</section>

<section>
    <h4 class="title">Browse Listings</h4>
    <hr>
</section>
<!-- Display Cards of each item -->
  <div class="row">
  {% for list in cards %}
    <div class="col s4 m4">
      <div class="card center-align">
   
        <div class="card-image">
          <img src="{{ list.item_url }}"  class="responsive-img center-align" style="width:284px;height:284px;object-fit:cover">
          <span class="card-title">{{ list.item_title  }}</span>
        </div>
        <div class="card-content">
            <p>Author: {{ list.item_author}}</p>
            <p>User Added: {{ list.item_added_by_username | capitalize }}        </p>
            <p>Read Time: {{ list.item_read_time }}</p>
            <p>Added on: {{ list.item_added_date }}</p>
            <p>Rating: {{ list.item_rating }}</p>
        </div>
        
        <div class="card-action">
            <a href="{{ url_for('listings', listings_id=list._id)}}">Go to Listing</a>
            <br><br>
            {% if session.user %}
            <a class="waves-effect waves-light btn"><i class="material-icons right" href="">cloud</i>Edit</a>
                <a class="waves-effect waves-light btn"><i class="material-icons right" data-toggle="modal" data-target="#Modal">cloud</i>Delete</a>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


<!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
    
{% endblock %}