{% extends 'base.html' %}
{% block content %}

<section class="browse-header">
     <img class="browse_img responsive-img" src="https://images.pexels.com/photos/3769697/pexels-photo-3769697.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="browse page image" style="width:1090px;height:350px;" />
</section>

<section>
    <h4 class="title">Browse Listings</h4>
    <hr>
</section>









  <div class="row">
  {% for list in listings %}
    <div class="col s4 m4">
      <div class="card">
   
        <div class="card-image">
          <img src="{{ list.item_url }}" style="width:284px;height:284px;object-fit:cover">
          <span class="card-title">{{ list.item_title  }}</span>
        </div>
        <div class="card-content">
            <p>Author: {{ list.item_author}}</p>
            <p>User Added: {{ list.item_added_by_username | capitalize }}        </p>
            <p>Read Time: {{ list.item_read_time }}</p>
            <p>Added on: {{ list.item_added_date }}</p>
            <p>Rating: {{ list.item_rating }}</p>
        </div>
        <div class="card-action">
            <a href="#">Go to Listing</a>
            {% if session.user %}
            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">thumb_up</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">thumb_down</i></a>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
   

    
        




 





   
{% endblock %}