{% extends 'base.html' %}
{% block content %}
    <h3>Edit Profile Page</h3>


{% include "sections/messages.html" %}
<!-- Register Form -->
<div class="container register-form">
  <div class="row">
    <form class="col s12"  method="POST" action="{{ url_for('update_profile', user_id=user._id)}}">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Please enter a username" name="new_user" id="new_user" type="text" class="validate">
          <label for="new_user">Username</label>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s6">
          <input placeholder="Please enter a valid email" name="new_email" id="new_email" type="email" class="validate">
          <label for="new_email">Email</label>
          </div>
        </div>
        
        <!-- Submit Button -->
        <button class="btn btn-outline-success btn-lg btn-block" type="submit">Update</button>
        <!-- Submit Button -->
    </form>
  </div>
</div>

<!-- End Register Form -->
{% endblock %}