{% extends 'base.html' %}
{% block content %}

<div class="meetings add top bottom  ">
    <h4 class="title-head"> Edit Listing </h4>

<div class="row add-form  ">

    <form action="{{ url_for('update_listing', listings_id=listings._id)}}" method="POST" >

    <div class="input-field col s8">
        <input id="edit_item_title" name="edit_item_title" type="text" minlength="1" maxlength="80" placeholder="Title of publication" class="form-control validate" required>
            <label for="edit_item_title">
            Title
                <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="1-80 characters" aria-hidden="true"></i>
            </label>
    </div>

    <div class="input-field col s8">
        <input id="edit_item_author" name="edit_item_author" type="text" minlength="1" maxlength="80" placeholder="Author of publication" class="form-control validate" required>
            <label for="edit_item_author">
            Author
                <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="1-80 characters" aria-hidden="true"></i>
            </label>
    </div>

    <div class="input-field col s8">
            <select id="edit_item_type" name="edit_item_type" class="form-control validate" required>
                <option value="" disabled selected>Type of item</option>
                {% for item in items %}
                <option value="{{ item.item_type }}">{{ item.item_type }}</option>
                {% endfor %}
            </select>
            <label for="edit_item_type">Item type</label>
    </div>

    <div class="input-field col s8">
            <select id="edit_item_read_time" name="edit_item_read_time" class="form-control validate" required>
                <option value="" disabled selected>Reading time</option>
                {% for read in reading %}
                <option value="{{ read.item_read_time }}">{{ read.item_read_time }}</option>
                {% endfor %}
            </select>
            <label for="edit_read_time">Reading time</label>
    </div>

    <div class="input-field col s8">
            <select id="edit_item_category" name="edit_item_category" class="form-control validate" required>
                <option value="" disabled selected>Genre</option>
                {% for book in book_cat %}
                <option value="{{ book.item_category }}">{{ book.item_category }}</option>
                {% endfor %}
            </select>
            <label for="edit_item_category">Item Category</label>
    </div>

    <div class="input-field col s8">
            <select id="edit_item_rating" name="edit_item_rating" class="form-control validate" required>
                <option value="" disabled selected>Rating</option>
                {% for rate in rating %}
                <option value="{{ rate.item_rating }}">{{ rate.item_rating }}</option>
                {% endfor %}
            </select>
            <label for="edit_item_rating">Item Rating</label>
    </div>

    <div class="input-field col s8">
        <input id="edit_item_comment" name="edit_item_comment" type="text" minlength="1" maxlength="500" placeholder="Add your comments" class="form-control " required>
            <label for="edit_item_comment">
            Comments
                <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="1-500 characters" aria-hidden="true"></i>
            </label>
    </div>

    <div class="input-field col s8">
        <input id="edit_item_url" name="edit_item_url" type="text"  placeholder="Add a link to the image" class="form-control " required>
            <label for="edit_item_url">
            Link to image
                <i class="far fa-question-circle tooltipped" data-position="right" aria-hidden="true"></i>
            </label>
    </div>

    <div class="input-field col s8">
        <input id="edit_item_purchase" name="edit_item_purchase" type="text"  placeholder="Add a link to the image" class="form-control " required>
            <label for="edit_item_purchase">
            Link to Purchasing Page
                <i class="far fa-question-circle tooltipped" data-position="right" aria-hidden="true"></i>
            </label>
    </div>

    


    <div class="row center-align">
        <div class="col s8">
            <button class="btn waves-effect waves-light standard-btn icon-right btn-spc btn-color" type="submit" name="action">Save Changes
                <i class="material-icons right">playlist_add</i>
             </button> 
            <a class="btn waves-effect waves-light standard-btn icon-right btn-spc btn-red" href="{{ url_for('browse') }}" aria-label="Cancel button">
                Cancel &nbsp;<i class="fa fa-times-circle"></i>
            </a>
        </div>
    </div>

    







    </form>
</div>



{% endblock %}