{% extends 'base.html' %}
{% block content %}
    


{% include "sections/messages.html" %}
<!-- Register Form -->
<div class="meetings edit top-bg bottom">
    <h4 class="title-head"> Edit Account Details</h4>
  <div class="row add-form">
    <form class="col s12"  method="POST" action="{{ url_for('update_profile', user_id=user._id)}}">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Please enter a new username" name="new_user" id="new_user" type="text" class="validate">
          <label for="new_user">Username</label>
        </div>
      </div>
       <div class="row">
          <div class="input-field col s6">
          <input placeholder="Please enter a valid email" name="new_email" id="new_email" type="email" class="validate">
          <label for="new_email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
          <input placeholder="Please enter a password" name="new_pass" id="new_pass" type="password" class="validate">
          <label for="new_pass">Password</label>
          </div>
        </div>
       
        
        <!-- Submit Button -->
        <div class="">
        <button class="btn btn-outline-success btn-spc left-spc" type="submit">Update &nbsp;<i class="fa fa-upload" aria-hidden="true"></i></button>
        <a class="btn waves-effect waves-light standard-btn icon-right  btn-spc" href="{{ url_for('profile', username=session['user']) }}" aria-label="Home button">
                Back
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        <!-- Submit Button -->
        </div>
    </form>
  </div>
</div>

<!-- End Register Form -->
{% endblock %}