{% extends 'base.html' %}
{% block content %}


<section class="browse-header top-club">
     <img class="browse_img responsive-img" src="https://images.pexels.com/photos/3769697/pexels-photo-3769697.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="browse page image" style="width:1280px;height:350px;" />
</section>

<section>
    <h4 class="title">Listing Details:  {{ listings.item_title  }}</h4>
    <hr>
</section>
 

<div class="container crd-cont z-depth-2 top-club bottom">
    <div class="card-img bottom">
        <img src="{{listings.item_url }}">
    </div>  

    <div class="content ">
    <hr class="bottom">
        <p > <span class="sml">Added By:</span> {{ listings.item_added_by_username | capitalize }}</p>
        <p > <span class="sml">Read Time:</span> {{ listings.item_read_time }}</p>
        <p> <span class="sml">Added on:</span> {{ listings.item_added_date }}</p>
        <p > <span class="sml">Rating:</span> {{listings.item_rating }}</p>
        <p class="last"> <span class="sml">Description: </span>{{listings.item_comment}}</p>
        <div class="container">
         {% if session.user %}
        <div class="meet-btn">
        <a class="waves-effect waves-light btn meetings-btn" href="{{ url_for('get_update_listing', listings_id=listings._id) }}"><i class="material-icons right">send</i>Edit Listing</a>

        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Delete Listing</a>

        
        </div>
      {% endif %}
    
    </div>

</div>



</div>

<!-- Modal Structure -->
        <div id="modal1" class="modal s12">
            <div class="modal-content">
            <h4>Confirm Deletion</h4>
            
                <hr><br>  
                <!-- Give your meeting a name-->
                <div class="row">
                    <form class="col s12"  >
                        <div class="row">
                         <p> Please Confirm you wish to delete the selected listing: {{ listings.item_title  }}</p>
                        <!-- Delete meeting-->
                            <div class="col s6">
                                <a class="waves-effect waves-light btn-small" href="{{ url_for('remove_listing', listings_id=listings._id)}}"><i class="material-icons right">cloud</i>Delete Meeting</a>
                            </div>
                        </div>
                    </form>
                </div>
                    
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
       </div>  

    {% endblock %}