{% extends 'base.html' %}
{% block content %}


    <h3>Login Page</h3>

<!-- Login Form -->
<div class="container login-form">
  <div class="row">
    <form class="col s12" method="POST" action="/login">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Please enter your username" name="username" id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s6">
          <input placeholder="Please enter your password" name="user_password" id="user_password" type="password" class="validate">
          <label for="user_password">Password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" >Log In
        <i class="material-icons right">send</i>
        </button>
    </form>
  </div>
</div>
<!-- End Login Form -->
{% endblock %}