{% extends 'base.html' %}
{% block content %}
<div class="slides top-club">
     <img class="profile-img responsive-img container" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fd2c4zcito95dfk.cloudfront.net%2Fassets%2Fdefault_profile_image_large-e61b362fc14b3206204a64e603d7ad80.png&f=1&nofb=1" alt="profile page image" style="width:1280px;height:350px;" />
</div>
<h4 class="title">{{ user.username | capitalize }}'s Profile</h4>
        <hr class="bottom">
        <!-- Account Page -->
<div class="meetings edit top bg-bottom">
    <h4 class="title-head"> Account Information</h4>
  <div class="row add-form">
      <table>
        <thead>
          <tr>
              <th>User Name:</th>
              <th>Email:</th>
              <th>Added listing:</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{ user.username }} </td>
            <td>{{ user.email }}</td>
            <td>{{ user.add_item }}</td>
          </tr>

        </tbody>
      </table>
      <hr>
      <br>
        <a class="waves-effect waves-light btn" href="{{ url_for('edit_profile', user_id=user._id) }}">Edit<i class="fa fa-pencil-square-o"></i></a>

       

        
       

        <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Delete Account</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Edit Account</h4>
      <p>Click Agree to Delete Account</p>
    </div>
    <div class="modal-footer">
      <a href="{{ url_for('delete_account', user_id=user._id) }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>











</div>
{% endblock %}