<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<main>

<h3>Account Page</h3>
    <div class="container account">
        <!-- Account Page -->
        <form>
            <div class="form-group">
                <label for="username">Name</label> 
                <p>{{ user.username }}</p>
            </div>
            <div class="form-group">
                <label for="email">{{ user.comment }}</label> 
            </div>
            <div class="form-group">
                <label for="tagline">{{ user.email }}</label> 
            </div>
                <div class="form-group">
                <label for="tagline">{{ user.tagline }}</label> 
            </div>  
        </form>
        <!-- Account Page -->
</div>
</main>
{% endblock %}